<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- <link rel="stylesheet" href="login.css"> --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Login Page</title>
</head>
<body>
<div class="container">
  <h2>Please Sign In</h2>
  <form class="login-form form">
    <div class="form-group ">
      <input type="email" class="form-control" id="email" placeholder="Email address" name="email">
      <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button class="btn btn-lg btn-primary btn-default" type="submit">Log in</button>
    <button onclick="location.href='/signup'" class="btn btn-lg btn-secundary btn-default" type="button">Sign up</button>
  </form>
</div>
<script src="/js/login.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>